/* 
// App Stylesheet
// --------------
*/

// Import Bootstrap
@import "../../node_modules/bootstrap/less/bootstrap.less";

// Give the navigation some padding
body {
    text-align: center;
    position: relative;
}

#app .fixed {
    margin: 0 auto;
    top: 0;
}

#app #menuBoard {
    position: relative;
}

#app #departureBoard {
    position: relative;
}

#app thead tr {
    background-color: #f2f9fc;
}

#app tbody tr:hover {
    background-color: #f2f9fc
}

#app #departureBoard table.table-bordered.table-striped tbody tr {
    td.default {
        //.button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
        //background-color: @btn-default-bg;
        //border-color: @btn-default-border;
    }
    td.info {
        .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
        background-color: @btn-info-bg;
        //border-color: @btn-info-border;
    }
    td.primary {
        //.button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
        background-color: @btn-primary-bg;
        //border-color: @btn-primary-border;
    }
    td.warning {
        //.button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
        background-color: @btn-warning-bg;
        // border-color: @btn-warning-border;
    }
    td.danger {
        //.button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
        background-color: @btn-danger-bg;
        //border-color: @btn-danger-border;
    }
    td.success {
        //.button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
        background-color: @btn-success-bg;
        //border-color: @btn-success-border;
    }      
}
