/* 
// App Stylesheet
// --------------
*/

// Import Bootstrap
@import "../../node_modules/bootstrap/less/bootstrap.less";

// Give the navigation some padding
body {
    text-align: center;
    position: relative;
}

#app .fixed {
    margin: 0 auto;
    top: 0;
}

#app #menuBoard {
    position: relative;
}

#app #departureBoard {
    position: relative;
}

#app thead tr {
    background-color: #f2f9fc;
}

#app tbody tr:hover {
    background-color: #f2f9fc
}

#app #departureBoard table.table-bordered.table-striped tbody tr {
    td.default {
        .button-variant(@btn-default-color; @btn-default-bg; @btn-default-border);
        //background-color: #fff;
        //border-color: #ccc;
    }
    td.info {
        .button-variant(@btn-info-color; @btn-info-bg; @btn-info-border);
        //background-color: #5bc0de;
        //border-color: #46b8da;
    }
    td.primary {
        .button-variant(@btn-primary-color; @btn-primary-bg; @btn-primary-border);
        //background-color: #337ab7;
        //border-color: #2e6da4;
    }
    td.warning {
        .button-variant(@btn-warning-color; @btn-warning-bg; @btn-warning-border);
        //background-color: #f0ad4e;
        //border-color: #eea236;
    }
    td.danger {
        .button-variant(@btn-danger-color; @btn-danger-bg; @btn-danger-border);
        //background-color: #d9534f;
        //border-color: #d43f3a;
    }
    td.success {
        .button-variant(@btn-success-color; @btn-success-bg; @btn-success-border);
        //background-color: #5cb85c;
        //border-color: #4cae4c;
    }      
}
